<div style="width: 50%; margin: auto; padding: 10px">
<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>

    
  <%= f.input :name %>
  
  <%= f.input :roll_no %>
  <%= f.input :department_id, as: :radio_buttons, collection: [['1', 'CSE'], ['2', 'IT'], ['3', 'ME'], ['4', 'CE']], label_method: :second, value_method: :first %>
  
  <%= f.button :submit, :class => 'btn-primary', data: { disable_by: "Saving" } %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn btn-default' %>
<% end %>
</div>
