<div style="width: 50%; margin: auto; padding: 10px">
<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>
  
  <%= f.input :roll_no %>

  <% collections = []
  @department = Department.all %>
  <% @department.each do |d| %>
    <% collections << ["#{d.id}", d.d_name] %>
  <% end %>

  <%= f.input :department_id, as: :radio_buttons, collection: collections, label_method: :second, value_method: :first %>
  
  <%= f.button :submit, :class => 'btn-primary', data: { disable_by: "Saving" } %>

  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                students_path, :class => 'btn btn-default' %>
<% end %>
</div>
