<p id="notice"><%= notice %></p>

<h1>students</h1>

<% if current_user %>
<table>
  <thead>
    <tr>
      <th>Department</th>
      <th>Roll no</th>
      <th>Name</th>
      <th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.department.d_id %></td>
        <td><%= student.roll_no %></td>
        <td><%= student.subjects.s_id %></td>
        <td><%= student.name %></td>
        <td><%= student.email %></td>
        <td><%= link_to 'Show', student %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>
<h3> Go back and login first</h3>
<% end %>
<br>

<%= link_to 'New Student', "students/new"%>
<%= link_to 'Show Students', "students/show"%>

<%= link_to 'New student', new_student_path %>
