<p>
  <strong>Department:</strong>
  <%= @student.department.d_id %>
</p>

<p>
  <strong>Roll no:</strong>
  <%= @student.roll_no %>
</p>

<p>
  <strong>email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Subjects:</strong>
  <%= @student.subject.s_id %>
</p>




<%= link_to 'Back', students_path %>
