<div style="width: 50%; margin: auto; padding: 10px">
<%= simple_form_for @teacher, :html => { :class => 'form-horizontal' } do |f| %>

    
  <%= f.input :name %>
  
  <%= f.input :id_number %>
  <% collections = []
  @subject = Subject.all %>
  <% @subject.each do |s| %>
    <% collections << ["#{s.id}", s.sub] %>
  <% end %>
  <%= f.input :subject_id, as: :radio_buttons, collection: collections, label_method: :second, value_method: :first %>
  
  <%= f.button :submit, :class => 'btn-primary', data: { disable_with: false } %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                teachers_path, :class => 'btn btn-default' %>
<% end %>
</div>
